node_modules
.playwright
npm-debug.log
test-results/
.cursor/
.DS_Store

# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan
*.tfplan.*
.secrets
src/eks-dapr-microservices/scripts/logs.md
