node_modules
.playwright
npm-debug.log
test-results/
.cursor/
.DS_Store

# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.nuget
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json

# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan
*.tfplan.*
.secrets
src/scripts/logs.md
src/bruno/api_tests/environments/*.local.bru

# Jekyll
docs/_site/
docs/.jekyll-cache/
docs/.sass-cache/
docs/output/