apiVersion: v1
kind: Service
metadata:
  name: claim-status-api
  namespace: materclaims
  labels:
    app: claim-status-api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: claim-status-api
