# AWS Configuration
aws_region   = "us-east-1"
cluster_name = "materclaims-cluster"
environment  = "dev"

# VPC Configuration
vpc_cidr             = "10.0.0.0/16"
public_subnet_1_cidr = "10.0.1.0/24"
public_subnet_2_cidr = "10.0.2.0/24"

# AWS Resources
dynamodb_table_name = "claims"

# IAM Configuration
attach_security_services_policy_to_current_user = false

# AWS Config
config_bucket_name = ""
