apiVersion: v1
kind: Service
metadata:
  name: order
  namespace: dapr-demo
  labels:
    app: order
spec:
  type: ClusterIP
  selector:
    app: order
  ports:
  - port: 80
    targetPort: 3001
    protocol: TCP
    name: http
