apiVersion: v1
kind: Service
metadata:
  name: product
  namespace: dapr-demo
  labels:
    app: product
spec:
  type: ClusterIP
  selector:
    app: product
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
