name: 1.1 Start Lab

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      SITE_USER:
        required: true
      SITE_PASSWORD:
        required: true

jobs:
  start-lab:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/start-lab
        with:
          site_user: ${{ secrets.SITE_USER }}
          site_password: ${{ secrets.SITE_PASSWORD }}
